[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tbd"]
	path = tbd
	url = https://github.com/killingvectorfield/causal-inference-truncated-by-death
